<a href="https://colab.research.google.com/github/seryeongi/project2/blob/master/ml.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np

In [9]:
data = pd.read_csv('/content/drive/MyDrive/goms/goms_feature_prep.csv',header=1)

In [10]:
data.head()

   jobseekAftGradu jobseekAftGradu_str  ...  subJobCate    subJobCate_str
0                2                 아니오  ...         541         경호·보안 종사자
1                1                   예  ...           0                무직
2                2                 아니오  ...         214       문리·기술·예능 강사
3                2                 아니오  ...         522   항공기·선박·열차 객실승무원
4                2                 아니오  ...         615            판매 종사자

[5 rows x 31 columns]

majorcate, mainJobCate 사용

In [ ]:
data.isnull().sum()

In [21]:
data1 = data.drop(['jobseekAftGradu_str','workWithin1yr_str','JobYNaftGradu_str','wayTolivexpense_str','schoolType_str','majorType','majorType_str','majorCate_str','major','major_str','mainJobCate_str','midJobCate','midJobCate_str','subJobCate','subJobCate_str','trainingHr'],axis=1)

In [22]:
data1.head()

   jobseekAftGradu  workWithin1yr  wishWorkHr  ...  jobseekYN  certNum  mainJobCate
0                2              2           0  ...          1        0            6
1                1              2           3  ...          1        0            0
2                2              2           0  ...          0        1            3
3                2              2           0  ...          0        0            6
4                2              2           0  ...          1        1            7

[5 rows x 15 columns]

In [23]:
data1.corr()

                 jobseekAftGradu  workWithin1yr  ...   certNum  mainJobCate
jobseekAftGradu         1.000000       0.590611  ... -0.017914     0.264452
workWithin1yr           0.590611       1.000000  ...  0.015523     0.387083
wishWorkHr             -0.557803      -0.849883  ... -0.044043    -0.430034
wishSalary             -0.492292      -0.770728  ... -0.056088    -0.413296
JobYNaftGradu           0.206761       0.174078  ... -0.051886     0.112625
wayTolivexpense         0.413069       0.604614  ...  0.011225     0.525301
schoolType             -0.000098      -0.003497  ... -0.067994    -0.155942
majorCate               0.020261       0.020851  ... -0.064330    -0.109489
age                     0.039478       0.050639  ...  0.024569     0.045411
internExp               0.078706       0.115203  ... -0.006254     0.085887
toeicScore             -0.018634      -0.001360  ...  0.009143    -0.113710
tospGrade              -0.003876       0.000287  ...  0.025461    -0.049991
jobseekYN              -0.047801      -0.001145  ...  0.119315    -0.035205
certNum                -0.017914       0.015523  ...  1.000000     0.022176
mainJobCate             0.264452       0.387083  ...  0.022176     1.000000

[15 rows x 15 columns]

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import accuracy_score

from xgboost import XGBRegressor
from xgboost import plot_importance

In [24]:
y_main = data1['mainJobCate']
x_main = data1.drop(['mainJobCate'],axis=1)

X_train, X_test, y_train, y_test = train_test_split(x_main, y_main, test_size=0.3, random_state=0)
dtr = DecisionTreeRegressor(max_depth=3, random_state=12)
dtr.fit(X_train, y_train)

rfr = RandomForestRegressor(max_depth = 3,random_state=12)
rfr.fit(X_train, y_train)

xgbr = XGBRegressor(objective='reg:squarederror', max_depth=3, random_state=12)
xgbr.fit(X_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:squarederror',
             random_state=12, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
             seed=None, silent=None, subsample=1, verbosity=1)

In [25]:
y_train_pred = dtr.predict(X_train)
train_mse = mean_squared_error(y_train, y_train_pred)
print("Train MSE: %.4f" % train_mse)

y_test_pred = dtr.predict(X_test)
test_mse = mean_squared_error(y_test, y_test_pred)
print("Test MSE: %.4f" % test_mse)

Train MSE: 4.1280
Test MSE: 4.2456

In [26]:
y_train_pred = rfr.predict(X_train)
train_mse = mean_squared_error(y_train, y_train_pred)
print("Train MSE: %.4f" % train_mse)

y_test_pred = rfr.predict(X_test)
test_mse = mean_squared_error(y_test, y_test_pred)
print("Test MSE: %.4f" % test_mse)

y_train_pred = rfr.predict(X_train)

Train MSE: 4.0966
Test MSE: 4.2200

In [27]:
y_train_pred = xgbr.predict(X_train)
train_mse = mean_squared_error(y_train, y_train_pred)
print("Train MSE: %.4f" % train_mse)

y_test_pred = xgbr.predict(X_test)
test_mse = mean_squared_error(y_test, y_test_pred)
print("Test MSE: %.4f" % test_mse)

Train MSE: 3.8090
Test MSE: 4.0036